@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Chewy);



/* --- header --- */

body {
  background-image: image-url("diamond_upholstery.png");
  margin-top: 75px;
  /* Added padding is due to bootstrap note 
  regarding fixed top nav */
 /* padding-top: 70px; */
  color: #fff;
}

#logo {
	font-size: 2em;
	margin-left: 10px;
}

#logo_pic {
	margin-right: 2px;
}

/* ---- body ---- */
body {
font-family: 'Chewy', cursive;
}

#leaderboard {
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#index button{
	text-align: center;
}

#title {
	color: orange;
	margin-bottom: 20px;
}

.list-group-item {
	font-size: 18px;
	color: green;
}

/* --- sticky-footer ---- */

footer {
	width: 100%;
	bottom: 0;
	position: fixed;
	color: black;

	}

