<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag('crown', size: '48', id: 'logo_pic') %>
      <%= link_to "King of Learn", root_path, id: "logo" %>
    </div>
  </div>
</header>
